<h1>Listing post1s</h1>

<table>
  <tr>
    <th>Titulo</th>
   
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post1s.each do |post1| %>
  <tr>
    <td><%= post1.titulo %></td>
 
    <td><%= link_to 'Show', post1, class:  "btn btn-default" %></td>
    <td><%= link_to 'Edit', edit_post1_path(post1), class:  "btn btn-default" %></td>
    <td><%= link_to 'Destroy', post1 , confirm: 'Are you sure?', method: :delete , class:  "btn btn-default" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post1', new_post1_path %>
